In [0]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'jsmazorra/JSON API Authorization/'

In [0]:
from google.cloud import bigquery
import time
import pandas as pd
import numpy as np

In [0]:
# Setup client
bq_client = bigquery.Client()

In [0]:
# GETS SQL QUERY FOR 100 USERS (14,000-14,000) FROM SORTED TABLE OF MOST COMMENTS
# WHERE TOTAL COMMENTS IS SLIGHTLY ABOVE 100

QUERY = '''
        SELECT E.*, C.comments_count
        FROM `bigquery-public-data.hacker_news.full_201510` as E
        JOIN(
            SELECT *
            FROM(
                SELECT *
                FROM(
                    SELECT  `bigquery-public-data.hacker_news.full_201510`.by, COUNT(*) as comments_count
                    FROM `bigquery-public-data.hacker_news.full_201510`
                    GROUP BY `bigquery-public-data.hacker_news.full_201510`.by
                )  
                ORDER BY comments_count DESC
                LIMIT 9500
            )
            ORDER BY comments_count 
            LIMIT 100            
        ) C 
        ON E.by = C.by
        '''

In [10]:
import time
start = time.time()
df = bq_client.query(QUERY).to_dataframe()
end = time.time()
print(end - start)

11.884548664093018

In [11]:
df.shape

(20089, 14)

In [12]:
users = df['by'].unique()
len(users)

100

In [13]:
df.head()

           by  score        time  ...       id ranking comments_count
0     okasaki    NaN  1438624899  ...  9998345    None            201
1  alecsmart1    NaN  1390616800  ...  7119575    None            200
2    tjbiddle    NaN  1431362729  ...  9526051    None            201
3      b0rsuk    NaN  1375483437  ...  6150135    None            200
4         sqs    NaN  1383046380  ...  6633275    None            201

[5 rows x 14 columns]

In [0]:
# Drop unecessary columns
df_drop = df.drop(columns= ['score','title','url','deleted','dead','descendants','ranking'])

# Keep only comments in the dataframe
df_drop = df_drop[df_drop['type']=='comment']

# Drop empty comments 
df_drop = df_drop[(df_drop['text'] != '')&(df_drop['text'] != np.nan)]

# Fix weird text encodings
import html
df_drop['text']=df_drop['text'].apply(str)
df_drop['text'] = df_drop['text'].apply(lambda x: html.unescape(x))

# Remove html tags from string
import re
def remove_html_tags(text):
   clean = re.compile('<.*?>')
   return re.sub(clean, '', text)
df_drop['text'] = df_drop['text'].apply(lambda x: remove_html_tags(x))

# Convert unix time to datetime object with date
from datetime import datetime
df_drop['time']=pd.to_datetime(df_drop['time'],unit='s') # for accuracy secs

In [15]:
# Check only analyzing comments
df_drop['type'].value_counts()

comment    16269
Name: type, dtype: int64

In [16]:
users = df_drop['by'].unique()
print(len(users))

98

In [17]:
df_drop.head()

           by                time     type  ...     parent       id  comments_count
0     okasaki 2015-08-03 18:01:39  comment  ...  9998049.0  9998345             201
1  alecsmart1 2014-01-25 02:26:40  comment  ...  7118342.0  7119575             200
2    tjbiddle 2015-05-11 16:45:29  comment  ...  9522489.0  9526051             201
3      b0rsuk 2013-08-02 22:43:57  comment  ...  6148347.0  6150135             200
4         sqs 2013-10-29 11:33:00  comment  ...  6630831.0  6633275             201

[5 rows x 7 columns]

In [19]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 2.8MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.9)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [0]:
# Populate sentiment analysis columns in dataframe
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [0]:
df_drop['neg']=np.zeros(df_drop.shape[0])
df_drop['pos']=np.zeros(df_drop.shape[0])
df_drop['neu']=np.zeros(df_drop.shape[0])

In [22]:
now=time.time()
df_drop['neg'] = df_drop['text'].apply(lambda x: sia.polarity_scores(x)['neg'])
df_drop['pos'] = df_drop['text'].apply(lambda x: sia.polarity_scores(x)['pos'])
df_drop['neu'] = df_drop['text'].apply(lambda x: sia.polarity_scores(x)['neu'])
print('sentiment cal took:',round(time.time()-now,2),'s')

sentiment cal took: 36.26 s

In [24]:
df_drop.head()

           by                time     type  ...    neg    pos    neu
0     okasaki 2015-08-03 18:01:39  comment  ...  0.000  0.000  1.000
1  alecsmart1 2014-01-25 02:26:40  comment  ...  0.133  0.049  0.817
2    tjbiddle 2015-05-11 16:45:29  comment  ...  0.050  0.076  0.873
3      b0rsuk 2013-08-02 22:43:57  comment  ...  0.032  0.170  0.798
4         sqs 2013-10-29 11:33:00  comment  ...  0.000  0.239  0.761

[5 rows x 10 columns]

In [25]:
df_final = pd.DataFrame(data=None, columns=df_drop.columns)
df_user_most_pos = pd.DataFrame(data=None, columns=df_drop.columns)
df_user_most_neg = pd.DataFrame(data=None, columns=df_drop.columns)

for user in users:
    # Create a dataframe of only one user
    df_user = df_drop[df_drop['by'] == user]
    
    # Remove pure sentiments (removes pure one-word comments)
    df_user_unpure = df_user[(df_user['neg'] !=1) & (df_user['pos'] !=1)]
    
    # Submit first 100 comments of the unpure sentiments to final dataframe
    df_final = df_final.append(df_user_unpure[:100])
    
    # Submit max unpure neg/pos comment per user into dataframe
    df_temp = df_final[df_final['by'] == user]
    ix_neg = df_temp['neg'].idxmax(axis=0)
    df_user_most_neg = df_user_most_neg.append(df_temp.loc[ix_neg])
    ix_pos = df_temp['pos'].idxmax(axis=0)
    df_user_most_pos = df_user_most_pos.append(df_temp.loc[ix_pos])
    
df_final.shape

(9132, 10)

In [26]:
users = df_drop['by'].unique()
len(users)

98

In [27]:
df_final.head(10)

          by                time     type  ...    neg    pos    neu
0    okasaki 2015-08-03 18:01:39  comment  ...  0.000  0.000  1.000
70   okasaki 2014-12-25 15:16:55  comment  ...  0.151  0.000  0.849
82   okasaki 2015-08-16 05:56:31  comment  ...  0.037  0.113  0.851
86   okasaki 2015-02-26 19:53:54  comment  ...  0.030  0.177  0.793
307  okasaki 2015-08-17 06:54:33  comment  ...  0.000  0.095  0.905
393  okasaki 2014-08-30 18:15:50  comment  ...  0.056  0.193  0.750
653  okasaki 2015-05-17 09:04:21  comment  ...  0.154  0.102  0.744
683  okasaki 2014-02-03 17:42:46  comment  ...  0.107  0.156  0.736
704  okasaki 2014-07-01 15:06:00  comment  ...  0.000  0.083  0.917
760  okasaki 2014-01-19 18:38:22  comment  ...  0.000  0.067  0.933

[10 rows x 10 columns]

In [28]:
# Random comments from the 100 users
df_random100 = df_final.sample(100)
df_random100.head(10)

                by                time     type  ...    neg    pos    neu
10715     bowyakka 2015-10-10 23:09:17  comment  ...  0.000  0.000  1.000
4725      tjbiddle 2013-09-26 16:18:42  comment  ...  0.102  0.279  0.619
8275       portLAN 2007-08-24 01:05:46  comment  ...  0.000  0.183  0.817
5036     collypops 2011-10-02 21:20:35  comment  ...  0.000  0.081  0.919
7120          domp 2007-04-02 23:14:06  comment  ...  0.116  0.111  0.773
7983   gradstudent 2011-08-19 02:04:21  comment  ...  0.030  0.039  0.931
2654         dan00 2012-10-20 10:26:20  comment  ...  0.062  0.156  0.782
3677    shadytrees 2009-08-30 00:38:03  comment  ...  0.107  0.091  0.802
5063        downer 2007-11-30 19:00:41  comment  ...  0.153  0.055  0.792
9206    louislouis 2008-06-15 15:53:04  comment  ...  0.059  0.075  0.866

[10 rows x 10 columns]

In [30]:
# Most negative comments
df_neg100 = df_final.sort_values(['neg'],ascending=False)[:100]
df_neg100.head(20)

                 by                time     type  ...    neg    pos    neu
3293     alexkearns 2011-04-24 07:44:02  comment  ...  0.841  0.000  0.159
12359    shadytrees 2014-08-31 19:38:17  comment  ...  0.791  0.000  0.209
940           yuchi 2013-03-21 13:37:51  comment  ...  0.756  0.000  0.244
3440         jdunck 2011-07-18 03:39:35  comment  ...  0.730  0.000  0.270
7300    gradstudent 2015-06-12 10:51:26  comment  ...  0.712  0.102  0.186
3267          yuchi 2012-06-26 17:46:15  comment  ...  0.656  0.000  0.344
7537        reddotX 2015-08-04 13:53:17  comment  ...  0.623  0.000  0.377
6243     polynomial 2013-08-18 01:21:28  comment  ...  0.608  0.000  0.392
4639           leoh 2013-01-15 03:06:07  comment  ...  0.589  0.000  0.411
6012        okasaki 2014-02-24 08:56:12  comment  ...  0.570  0.000  0.430
943           yuchi 2012-11-06 16:02:46  comment  ...  0.565  0.000  0.435
1469      handelaar 2009-12-08 22:35:04  comment  ...  0.556  0.000  0.444
1491           wlll 2011-08-02 13:23:18  comment  ...  0.556  0.000  0.444
4750       sofuture 2010-06-11 14:09:45  comment  ...  0.548  0.000  0.452
10049          leoh 2013-02-13 23:28:36  comment  ...  0.545  0.000  0.455
5886          scrod 2011-02-22 18:22:13  comment  ...  0.538  0.000  0.462
6553     drjesusphd 2013-09-28 03:25:24  comment  ...  0.531  0.000  0.469
8074     ASneakyFox 2014-04-13 09:13:39  comment  ...  0.518  0.000  0.482
195         edderly 2010-08-16 04:27:16  comment  ...  0.517  0.000  0.483
5779   signalsignal 2012-03-06 01:10:45  comment  ...  0.516  0.000  0.484

[20 rows x 10 columns]

In [31]:
# Most positive comments
df_pos100 = df_final.sort_values(['pos'],ascending=False)[:100]
df_pos100.head(20)

                   by                time     type  ...  neg    pos    neu
12706            domp 2007-04-03 02:28:35  comment  ...  0.0  0.915  0.085
5033          maneesh 2009-08-10 06:06:54  comment  ...  0.0  0.875  0.125
6424          pknight 2013-10-08 01:35:55  comment  ...  0.0  0.873  0.127
12523       medianama 2010-03-07 19:15:11  comment  ...  0.0  0.868  0.132
2642              nav 2009-06-18 23:32:32  comment  ...  0.0  0.861  0.139
16590         daviday 2012-06-02 17:36:34  comment  ...  0.0  0.857  0.143
9019           mikeg8 2014-02-12 17:33:44  comment  ...  0.0  0.848  0.152
9264           mikeg8 2012-03-24 22:05:40  comment  ...  0.0  0.848  0.152
16610  DavidChouinard 2012-02-16 13:07:44  comment  ...  0.0  0.844  0.156
8063          vidyesh 2010-11-14 07:40:13  comment  ...  0.0  0.815  0.185
6764        sandipagr 2010-08-26 13:25:54  comment  ...  0.0  0.815  0.185
8512        sandipagr 2011-01-28 14:23:26  comment  ...  0.0  0.807  0.193
3728           mikeg8 2013-10-08 17:07:01  comment  ...  0.0  0.804  0.196
5983           mikeg8 2014-02-10 19:39:13  comment  ...  0.0  0.792  0.208
4612           downer 2007-11-29 01:11:08  comment  ...  0.0  0.789  0.211
8714              nav 2015-07-02 15:35:42  comment  ...  0.0  0.785  0.215
5060         tjbiddle 2013-01-22 05:00:56  comment  ...  0.0  0.784  0.216
6941       alexkearns 2012-05-09 10:23:24  comment  ...  0.0  0.780  0.220
9912           mikeg8 2013-03-28 23:33:51  comment  ...  0.0  0.767  0.233
165               nav 2012-11-19 16:20:52  comment  ...  0.0  0.761  0.239

[20 rows x 10 columns]

In [32]:
# Most single negative comment for each user
df_user_most_neg.head(10)

              by                time     type  ...    neg    pos    neu
6012     okasaki 2014-02-24 08:56:12  comment  ...  0.570  0.000  0.430
1446  alecsmart1 2014-02-20 04:02:57  comment  ...  0.437  0.000  0.563
1989    tjbiddle 2015-02-10 17:30:29  comment  ...  0.200  0.000  0.800
4068      b0rsuk 2013-04-23 05:59:18  comment  ...  0.263  0.000  0.737
4603         sqs 2014-03-05 00:29:51  comment  ...  0.175  0.135  0.690
940        yuchi 2013-03-21 13:37:51  comment  ...  0.756  0.000  0.244
7371   mtarnovan 2010-05-19 19:37:43  comment  ...  0.350  0.206  0.444
6553  drjesusphd 2013-09-28 03:25:24  comment  ...  0.531  0.000  0.469
5596       dan00 2010-05-22 09:35:14  comment  ...  0.243  0.162  0.595
5084     pknight 2012-07-26 01:11:52  comment  ...  0.268  0.000  0.732

[10 rows x 10 columns]

In [33]:
# Most single positive comment for each user
df_user_most_pos.head(10)

               by                time     type  ...    neg    pos    neu
8234      okasaki 2015-05-27 12:02:12  comment  ...  0.000  0.420  0.580
12021  alecsmart1 2013-10-25 20:22:51  comment  ...  0.000  0.714  0.286
5060     tjbiddle 2013-01-22 05:00:56  comment  ...  0.000  0.784  0.216
2627       b0rsuk 2012-05-13 20:32:16  comment  ...  0.144  0.399  0.457
2883          sqs 2014-02-19 21:49:32  comment  ...  0.000  0.595  0.405
5026        yuchi 2012-11-07 20:03:24  comment  ...  0.000  0.726  0.274
1286    mtarnovan 2009-04-01 06:25:10  comment  ...  0.234  0.444  0.323
8737   drjesusphd 2015-05-06 18:03:18  comment  ...  0.000  0.574  0.426
3992        dan00 2010-05-19 11:53:11  comment  ...  0.000  0.722  0.278
6424      pknight 2013-10-08 01:35:55  comment  ...  0.000  0.873  0.127

[10 rows x 10 columns]